---
import productArrowSvg from "../../assets/icons/product-arrow.svg?raw";
import image from '../../assets/images/download/catalog.webp';
import image2 from '../../assets/images/download/pattern.svg';
---

<section class="section download-catalog " aria-label="Скачивание">
  <div class="container">
    <div class="download-catalog__inner">
      <div class="download-catalog__left">
        <h2 class="h2 font-bold text-2xl lg:text-4xl">Скачать каталог продукции AArkada</h2>
        <p class="font-primary text-gray-700 leading-relaxed  md:max-w-full text-lg my-4">Все ваши любимые товары всегда под рукой!</p>
        <a href="#" class="btn">Скачать каталог <Fragment set:html={productArrowSvg} /></a>
      </div>
      <div class="download-catalog__right">
        <img src={image.src} class="img download-catalog__image" alt="Каталог продукции AArkada" loading="lazy" />
      </div>
    </div>
    <img
      class="download-catalog__pattern absolute right-0 bottom-0 h-full"
      src={image2.src}
      width="510"
      height="386"
      alt=""
      loading="lazy"
      aria-hidden="true"
    />
  </div>
</section>

